<div className="head">
  <div class="head container">
    <h1>HOME PAGE</h1>
    <p>Welcome to Habit Farmer</p>
    <p>Are you ready to start nurturing some good habits?</p>
  </div>
</div>

<div class="body">
  <div class="body container">
    <p>This is where you would input your habit</p>
    <p>perhaps a clock</p>
  </div>
</div>
